<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EcoOcean</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/PaginaInicial.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <br />>
    
    <h1 class="titulo">Selecione a area de acesso</h1>

    <div class="agrupamento">
        <button class="item">
            <a class="button-text" asp-controller="Administrador" asp-action="LoginPage">Administrador</a>
        </button>
        <br />
        <button class="item">
            <a class="button-text" asp-controller="Voluntario" asp-action="LoginPage">Voluntario</a>
        </button>
    </div>
</body>
</html>


